<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrapblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #121212; color: #ffffff;">
    <div class="container">
      <%= render 'layouts/topheader' %>
      <%= render 'layouts/navscroller' %>
    </div>
    <main class="container">
      <%= display_msg %>
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>